<div class="card mt-50 mb-50">
    <div class="col d-flex"><span class="text-muted" id="orderno">order #546924</span></div>
    <div class="gap">
        <div class="col-2 d-flex mx-auto"> </div>
    </div>
    <div class="title mx-auto"> Thank you for your order! </div>
    <div class="main"> <span id="sub-title">
            <p><b>Payment Summary</b></p>
        </span>
       
        <div class="row row-main">
            <div class="col-3 "> <img class="img-fluid" src="assets/capsicumtomato1.jpg"> </div>
            <div class="col-6">
                <div class="row d-flex">
                    <p><b>Cpasicum Tomato</b></p>
                </div>
                <div class="row d-flex">
                    <p class="text-muted">Made using pizza sauce, onion,
                        capsicum, tomatoes, mozzarella, oregano, chilli flakes, salt and black pepper.</p>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <p><b>INR 200</b></p>
            </div>
        </div>
        <hr>
        <div class="total">
            <div class="row">
                <div class="col"> <b> Total:</b> </div>
                <div class="col d-flex justify-content-end"> <b>INR -</b> </div>
            </div> <button class="btn d-flex mx-auto"> Track your order </button>
        </div>
    </div>
</div>